.wp-block-clb-custom-blocks-modal-card {
     padding: 12px;
     background: #eee;
}

.clb-modal-contents {
     margin-top: 20px;
     padding: 20px;
     text-align: left;
     background: #f5f5f5;
     color: #222;
     border-radius: 5px;
     border: 1px solid #222;
     box-shadow: 0 0 20px rgba(0,0,0,.5);
}

h4.clb-modal-card-body-header {
     margin-top: 0 !important;
     padding-top: 0;
}
