/* ---- Modal Card ------ */

.clb-modal-card-area {
     text-align: center;
}

.clb-modal-card-area {
     background: #fff;
    box-shadow: 0 10px 40px rgba(0,0,0,.1);
    transition: all ease-in-out .3s;
}

.entry-content h3.modal-card-title-input {
     margin-top: 20px;
     padding-bottom: 0;
}

.clb-modal-card-area:hover {
    transform: translate3d(0,-4px,0);
}

.clb-modal-card-area a {
    text-decoration: none;
}
