.icon-card-regular-area {
     text-align: center;
     padding: 20px;
     padding-top: 40px;
     margin-bottom: 20px;
     transition: all ease-in-out .35s;
     border-radius: 5px;
}

.icon-card-regular-area.foreground-text-light, .icon-card-regular-area.foreground-text-light a {
     color: #fff;
}

.icon-card-regular-area.foreground-text-dark, .icon-card-regular-area.foreground-text-dark a {
     color: #222;
}

.icon-card-regular-area a {
     text-decoration: none;
}

.entry-content h3.clb_card__title {
     margin-top: 20px;
}

.icon-card-regular-area:hover {
    transform: translate3d(0,-6px,0);
}
